
.Calculadora{
	display: block;
	margin: 0 auto;
	padding: 20px;
	background-color: #DC4C46;
	width: 400px;
	height: 500px;
	border-radius: 25px;
}


.Calculadora td button{
	display: block;
	width: 60px;
	height: 60px;
	font-size: 20px;	
}

#resultado{
	display: block;
	text-align: center;
	font-size: 40;
	margin-bottom: 50px;
	width: 300px;
	height: 100px;
	line-height: 100px;
	background-color: #FFF;
	border-radius: 25px;
	overflow-y: scroll;
}